{% extends 'analyser/base.html' %}

{% block title %}
Features
{% endblock %}

{% load static %}

{% block content %}

{% if show_loading_animation %}
<!-- Animation -->
<div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{% endif %}

<br>

<!-- TITLE CARD -->
<div class="container card-without-hover" style="width: 100%;">
    <div class="flex" style="width: 100%;">
        <div>
            <div class="flex">
                <img src="{% static 'images/music-player-1.svg' %}" width="25px" height="25px">&nbsp;&nbsp;
                <h2 class="title inline-heading"> Aaoge Jab Tum </h2>
            </div>
            <div class="flex">
                <img src="{% static 'images/microphone.svg' %}" width="25px" height="25px">&nbsp;&nbsp;
                <h4 class="artist inline-heading">Arijit Singh</h4>
            </div>
            <br>
            <p>Sampling Rate: <b>44100 Hz</b></p>
            <p>Total Samples: <b>132000</b></p>
        </div>

        <div style="width: 60%">
            <img src="{% static 'images/music-player-2.svg' %}" height="150px"
                 style="float: right; margin-right: 100px;"
                 align="right">
        </div>
    </div>
</div>


<br>
<div class="flex">

    <!-- EMOTION CARD -->
    <div class="container" style="width: 50%;">
        <div class="card-without-hover">
<!--{% static 'images/emoticons/happy.svg' %}-->
            <center>
                <br>
                <img id="emo-image" src="" width="100px" height="100px"><br>
                <br>
                <h3 class="inline-heading" id="emo-name-display">w</h3>
                <br><br>
            </center>
        </div>
    </div>

    <!-- GENRE CARD -->
    <div class="container" style="width: 50%;">
        <div class="card-without-hover">
            <center>
                <br>
                <img src="{% static 'images/bookmark.png' %}" width="100px" height="100px"><br>
                <br>
                <h3 class="inline-heading">Rock!</h3>
                <br><br>
            </center>
        </div>
    </div>

</div>
<!-- flex box ends here -->

<br>

<div class="container">
    <h4 class="inline-heading"> Wave Data: </h4>
    <div>
        <img src="{% static 'images/shots/wave_data.jpeg' %}" style="width: 100%;">
    </div>
</div>


<!-- FAST FOURIER TRANSFORM -->
<div class="container">
    <h4> Fast Fourier Transform: </h4>
    <div>
        <img src="{% static 'images/shots/fourier_data.jpeg' %}" style="width: 100%;">
    </div>
</div>

<div class="container">
    <h4> Zero Crossing Rate: 0.0547</h4>
</div>

<div class="container">
    <h4> Root Mean Square: 0.989</h4>
    <div>
        <img src="{% static 'images/shots/2.jpeg' %}" style="width: 100%;">
    </div>
</div>

<div class="container">
    <h4> Spectral Centroid: 49.989</h4>
    <div>
        <img src="{% static 'images/shots/3.jpeg' %}" style="width: 100%;">
    </div>
</div>

<div class="container">
    <h4> Spectral Flux: 0.989</h4>
    <div>
        <img src="{% static 'images/shots/4.jpeg' %}" style="width: 100%;">
    </div>
</div>

<div class="container">
    <h4> Spectral RollOff: 0.989</h4>
    <div>
        <img src="{% static 'images/shots/5.jpeg' %}" style="width: 100%;">
    </div>
</div>
<p id="filename-para" style="opacity:0;">{{ uploaded_filename }}</p>
<script src="{% static 'js/datafetcher.js' %}"></script>
{% endblock %}