{% extends 'analyser/base.html' %}

{% block title %}
    Music Analyser
{% endblock %}

{% load static %}

{% block content %}

<br>
<br>

<div class="container-fluid" id="biggest-div">
    <center>
        <div class="container">
            <!--Logo Image-->
            <img src="{% static 'images/music-player.svg' %}" height="250px">
            <br><br>

            <form enctype="multipart/form-data">

                <div class="width-50">
                    <input id="input-file" name="music-input" type="file" accept="audio/*"
                           class="file" data-show-preview="false" data-show-upload="false">
                </div>

                <div style="display: block;">
                    <input type="button" id="button-upload" class="buttons" value="Upload File">
                    <input type="submit" name="s" class="buttons" value="Analyse it">
                </div>

            </form>

        </div>
    </center>
</div>

{% endblock %}